* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e1e4cc;
    color: black;
}

.site-wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header img {
    margin-right: auto;
    width: 2em;
    height: 2em;
}

header .side-menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 30%;
    background-color: white;
    z-index: 1;
    display: none;
}

header .side-menu.active {
    display: flex;
}

header .side-menu img {
    position: absolute;
    right: 2em;
    top: 1em;
}

header ul {
    list-style: none;
    margin-top: 8em;
}

header ul li {
    padding: 1em;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

main {
    display: flex;
    flex-direction: column ;
    gap: 2em;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content h1 {
    font-size: xxx-large;
}

.content p {
    line-height: 1.8;
}

.content .desktop {
    display: none;
}   

.content p {
    opacity: 0.8;
}

.content button {
    background-color: #dd584e;
    color: black;
    border: none;
    padding: 1em;
    cursor: pointer;
    font-weight: bolder;
    width: 50%;
}

.news {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #1b1a1a;
    color: white;
    padding: 1em;
}

.news h1 {
    color: #e2aa41;
}

.news .article p {
    opacity: 0.6;
    margin-top: 1em;
    line-height: 1.8;
}

.rank {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.rank .item {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.rank .item .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3em;
}

.rank .item img {
    max-width: 30%;
}

.rank .item h3 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.rank .item .info p {
    font-size: small;
}

.rank .item h2 {
    color: #c22525;
}

.rank .item p {
    opacity: 0.8;
}

@media(min-width: 800px) {
    .site-wrapper {
        max-width: 980px;
    }

    header .icon {
        display: none;
    }

    header .close {
        display: none;
    }

    header .side-menu {
        display: block;
        position: static;
        background-color: #e1e4cc;
    }

    header .side-menu ul {
        margin-top: 0;
        display: flex;
    }

    header .side-menu ul li:last-child {
        padding-right: 0;
    }

    main {
        display: grid;
        grid-template-areas: 
        "content content news"
        "content content news"
        "rank rank rank";
    }

    .content {
        grid-area: content;
        display: grid;
        grid-template-areas: 
        "img img"
        "h1 p"
        "h1 button";
    }

    .content img {
        grid-area: img;
        max-width: 100%;
        height: auto;
    }

    .content h1 {
        grid-area: h1;
        max-width: 250px;
    }

    .content p {
        grid-area: p;
    }

    .content button {
        grid-area: button;
        width: 50%;
        max-height: 120px;
    }

    .news {
        grid-area: news;
        max-width: 300px;
    }   

    .rank {
        grid-area: rank;
        flex-direction: row;
        margin-top: 2em;
    }

    .content .desktop {
        display: block;
        max-width: 100%;
    }

    .content .mobile {
        display: none;
    }

    .rank .item img {
        max-height: 100px;
    }
}